.modal-enter,
.modal-leave-to {
  opacity: 0;
}
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}
.list-enter, .list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  // opacity: 0.5;
  transform: translateX(100px);
}

.darwerRight-enter-active,
.darwerRight-leave-active {
  transition: all 0.3s;
}
.darwerRight-enter, .darwerRight-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  // opacity: 0.5;
  transform: translateX(100%);
}